@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --primeira-cor: #f5fffa;
    --menu-cor: #b0e0e6;
    --cor-selection1: #90e5fa;
    --cor-selection2: #23f5e0bd;
    --button: white;
    --button-hover: #dcdcdc;
}

body{
    background-color: var(--primeira-cor);
}

.menu{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: var(--menu-cor);
    align-items: center;
    justify-content: space-around;
    border-bottom-left-radius: 40px;
    font-family: 'Recursive', sans-serif;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li{
    margin-left: 100px;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.alterar-tema button{
    cursor: pointer;
    padding: 12px 18px;
    font-size: 15px;
    background-color: var(--button);
    border: 3px solid #0e1d2f;
    border-radius: 50px;
}

.alterar-tema button:hover{
    background-color: var(--button-hover);
    transition: 0.5;
}

.header{
    background-color: var(--cor-selection1);
    width: 90%;
    margin: auto;
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;

}

.header .apresentacao{
    font-family: sans-serif;
    width: 450px;
}

.header .imagem{
    padding-top: 100px;
    padding-bottom: 100px;
}

.header .apresentacao h3{
    font-size: 30px;
}

.header .apresentacao h4{
    font-size: 12px;
}

.redes-sociais{
    margin-top: 30px;
}

.redes-sociais ul li{
    display: inline;
    margin-left: 20px;
    font-size: 30px;
}

.redes-sociais i{
    color: black;
}

.redes-sociais i:hover{
    color: rgb(39, 39, 119);
    transition: 0.5;
}

.projetos {
   background-color: var(--cor-selection2); 
   width: 90%;
   margin: 30px auto;
   display: flex;
   align-items: center;
   flex-direction: column;
   border-radius: 30px;

}

.projetos h2{
    margin: 30px;
    font-size: 40px;
}

.projetos-itens{
    font-size: 24px;
    list-style-type: none;
    margin-bottom: 50px;
    width: 800px;
}

.projetos-itens a{
    text-decoration: none;
    color: black;
}

.projetos-itens .minimizar{
    margin-left: 20px;
    cursor: pointer;
    padding: 8px 10px;
    margin-bottom: 10px;
    background-color: var(--button);
    border: 3px solid #0e1d2f;
    border-radius: 50px;
}

.projetos-itens .minimizar:hover{
    background-color: var(--button-hover);
    transform: 0.5;
}

footer{
    background-color: var(--menu-cor);
    padding: 40px;
    text-align: center;
    font-size: 'Recursive', sans-serif;
}



























































.mensagem{ 
    color: black;
}

.mensagem p span.typed-text {
    font-size: 40px;
    font-family: 'Prata';
    color: #326edd;
  }

.mensagem p{
    font-size: 40px;
    font-family: 'Prata'; 
}
.mensagem p span.cursor {
    display: inline-block;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
    
}

@keyframes blink {
    0%  { background-color: #000; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: #000; }
    100%  { background-color: #ccc; }
  }
