body.dark{
    background-color: #2f4f4f;
}

.dark .header{
    background-color: #3a678b;

}

.dark .header .apresentacao, .dark .header .apresentacao h3, .dark .header .apresentacao h4, .dark .header .apresentacao i{
    color: white;
}

.dark .projetos{
    background-color: #4f4f4f4f;
}

.dark .projetos a,  .dark .projetos-titulo{
    color: white;
}

.dark .menu, .dark footer {
    background-color: rgb(20,20,20);
}

.dark .menu ul li a, .dark footer p {
    color: white;
}

.dark button, .dark .projetos-itens .minimizar{
    color: white;
    background-color: black;
    border: 3px solid white;
}

